/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1642 {
    padding: var(--sectionPadding);
  }
  #stats-1642 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #stats-1642 .cs-content {
    /* set text align to right if content needs to be right aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* left aligns content */
    align-items: flex-start;
  }
  #stats-1642 .cs-title {
    /* 28px - 64px */
    margin: 0 0 clamp(1.75rem, 7vw, 4rem) 0;
    max-width: 20ch;
  }
  #stats-1642 .cs-picture {
    width: 100%;
    height: 95vw;
    max-height: 25rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #stats-1642 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #stats-1642 .cs-quote {
    width: 4.625rem;
    height: auto;
    position: relative;
    top: 1.5rem;
    opacity: 0.5;
    z-index: -1;
  }
  #stats-1642 .cs-text {
    margin: 0 0 clamp(1.5rem, 3vw, 2rem) 0;
  }
  #stats-1642 .cs-stats-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* 28px - 40px */
  }
  #stats-1642 .cs-card-group {
    width: 100%;
    /* 550px - 630px */
    max-width: clamp(34.375rem, 50vw, 39.375rem);
    padding: 0;
    margin: 0;
    display: grid;
    align-items: center;
    gap: 1.5rem;
  }
  #stats-1642 .cs-item {
    list-style: none;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #stats-1642 .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.625rem;
  }
  #stats-1642 .cs-item-number {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #stats-1642 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #stats-1642 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #stats-1642 .cs-stats {
    width: 100%;
    max-width: 39.375rem;
    padding: 0;
    /* 40px - 64px */
    margin: clamp(2.5rem, 6vw, 4rem) 0 0 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #stats-1642 .cs-stat {
    text-align: center;
    list-style: none;
    margin: 0;
    /* 28px - 40px */
    padding: 0 0.5rem clamp(1.75rem, 3vw, 2.5rem);
    /* making flex so we can align a heading with 1 line to the bottom */
    display: flex;
    grid-column: span 6;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
  }
  #stats-1642 .stat1 {
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
  }
  #stats-1642 .stat2 {
    border-bottom: 1px solid #E8E8E8;
  }
  #stats-1642 .stat3 {
    border-right: 1px solid #E8E8E8;
    /* 28px - 40px */
    padding: clamp(1.75rem, 3vw, 2.5rem) 0.5rem 0;
  }
  #stats-1642 .stat4 {
    /* 28px - 40px */
    padding: clamp(1.75rem, 3vw, 2.5rem) 0.5rem 0;
  }
  #stats-1642 .cs-number {
    /* 31px - 39px */
    font-size: clamp(1.9375rem, 3vw, 2.4375rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    color: var(--headerColor);
    display: block;
    margin: 0 0 0.25rem 0;
  }
  #stats-1642 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    text-align: inherit;
    /* auto margin top will push text to bottom if there's only one line */
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-1642 .cs-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #stats-1642 .cs-content {
    /* sends it to the right in the 2nd position */
    order: 2;
    justify-content: stretch;
  }
  #stats-1642 .cs-picture {
    height: 100%;
    max-height: 100%;
  }
}