/*-- -------------------------- -->
<---          Locations          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #locations-1696 {
    padding: var(--mobilePadding);
    padding-bottom: 1.5rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #locations-1696 .cs-container {
    width: 100%;
    /* changes to 1920px at tablet */
    max-width: 31.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #locations-1696 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #locations-1696 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 24px - 100px top & bottom*/
    padding: clamp(1.5rem, 7vw, 6.25rem) 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 12;
    grid-row: span 1;
    position: relative;
    z-index: 1;
    /* bottom border */
  }
  #locations-1696 .cs-item::after {
    content: "";
    width: 100%;
    height: 1px;
    /* to change the color of the bottom border, adjust the second color (at 50%). the first and third will blend the color to transparent */
    /* note you'll also have to change the color in the tablet media query when the lines go vertical */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #bababa 50%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #locations-1696 .cs-item:hover .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  #locations-1696 .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.9;
  }
  #locations-1696 .cs-item:hover .cs-background {
    opacity: 1;
  }
  #locations-1696 .cs-item:last-of-type::after {
    content: none;
  }
  #locations-1696 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: bold;
    line-height: 1.2em;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #locations-1696 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    max-width: 18.75rem;
    padding: 0;
    color: var(--bodyTextColor);
  }
  #locations-1696 .cs-address {
    max-width: 20ch;
    margin-bottom: 1rem;
  }
  #locations-1696 .cs-link {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    text-decoration: none;
    margin-top: auto;
    /* setting minimum top spacing with padding and using margin-top: auto; to ensure the link is always at the bottom of the item */
    /* 24px - 32px */
    padding-top: clamp(1.5rem, 1vw, 2rem);
    color: var(--secondary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;
    transition: color 0.3s;
  }
  #locations-1696 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #locations-1696 .cs-link-text {
    width: fit-content;
  }
  #locations-1696 .cs-arrow {
    width: 1.25rem;
    height: auto;
    display: block;
    transition: filter 0.3s, transform 0.3s;
  }
  #locations-1696 .cs-background {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #locations-1696 .cs-background:before {
    /* background color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: 0.84;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #locations-1696 .cs-background img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #locations-1696 .cs-container {
    max-width: 120rem;
  }
  #locations-1696 .cs-item {
    grid-column: span 3;
  }
  #locations-1696 .cs-item::after {
    width: 1px;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #bababa 50%, rgba(255, 255, 255, 0) 100%);
    right: 0;
    left: initial;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #locations-1696 .cs-item {
    /* 24px - 100px */
    padding-right: clamp(1.5rem, 5vw, 6.25rem);
    padding-left: clamp(1.5rem, 5vw, 6.25rem);
  }
}
                                