/*-- -------------------------- -->
<---   testing padding buffer   -->
<--- -------------------------- -*/

    #padding-1234 {
        padding: var(--testPadding);
        background-color: #fff;
        /* clips the wave background from causing overflow issues when it goes off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
    }