/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-52 {
    position: relative;
  }
  #cta-52 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
	border-radius: 15px;
	background-color: #f7f7f7;
	border: 1px solid #e8e8e8;
    padding: var(--sectionPadding);
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #cta-52 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 39.375rem;
	border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #cta-52 .cs-title,
  #cta-52 .cs-text {
    
  }
  #cta-52 .cs-text {
    margin: 0 0 2rem 0;
    opacity: .8;
  }
  #cta-52 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cta-52 .cs-button-solid:hover {
    background-color: var(--secondary);
  }
}
                                